.container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10vh;
}

.content {
    margin-top: 5vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 50%;
    padding: 10px 5px;
}

.subtitle {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.subtitleIcon {
    margin-right: 10px;
}

.subtitleIcon:hover {
    color: var(--button-hover);
    cursor: pointer;
}