body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

hr {
  border: 1px solid #FFF7EB;
  width: 100%;
  margin: 20px 0px;
}

input:focus {
  border: 3px solid #78A3C5;
  outline: none;
}

a {
  color: #FFECCF;
}